apiVersion: v1
kind: Secret
metadata:
  name: app-secrets
type: Opaque
stringData:
  POSTGRES_PASSWORD: "1234"
  MONGO_PASSWORD: "1234"
  MONGO_URL: "mongodb://admin:1234@mongo-monitoring:27017" # Convenience string
  SECRET_KEY: "amine4292004"
